# Godot 4.x
.godot/
.import/
export.cfg
export_presets.cfg

# Mono / C# (на случай если подключим)
.mono/
data_*/
mono_crash.*.json

# Builds / exports
build/
exports/
*.apk
*.aab
*.ipa
*.tmp

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
